.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    width: 160px;
    height: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 2px;
    
}

.time > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
    width: 160px;
    padding: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.time > div:hover {
    transform: scale(1.05);

}

.icon {
    font-size: 24px;
    color: #00A8E8;
}

.label,.time-label {
    font-size: 14px;
    color: #0e0101;
    text-transform: uppercase;
    margin-left: 10px;
}

.temp_time, .humidity_time, .rain_time, .wind_Speed_time,.time-label {
    height: 50px;
}
.time-label{
    margin: 0 auto;
    font-weight: bolder;
    text-align: center;
}
